@CHARSET "UTF-8";
html {
	
}
body {
font-family: Georgia, "Times New Roman",
      Times, serif;
font-size:1px;
color: silver;
background-color: #7799bb; 
padding:0;
margin:0;
}
p {
	
}
h1 {
	
}
h2 {
text-align: center;
color:threedface;
margin:0;
}

div{
	
}

.bg1{
	background-color: #99aa88;
}
.bg2{
	background-color: #aabb88;
}

.bg3{
	background-color: #999999;
}
.fg1{
	color:#dddddd;
}

.fg2{
    color:#663399;
}

.fg3{
	  color:#eeeeee;
}

.fg4{
	  color:oblique;
}

.fg5{
	color:#aeacbb;
}

.fg6{
	color:#000000;
}

.fg7{
	color:#aa0000;
}



#header {
font-size:30px;
padding: 5px;
overflow:hidden;
background-color: #82a6a3;
height: 2em;
text-align: center;
}

#side{
	margin:0;
	padding:0;
	width:250px;
	background-color: #687253;
	font-size:20px;
	float:left;
}

#body{
	margin:0 0 0 250px;
	padding:0;
	font-size: 14px;
	color:black;
}

#footer{
	position:fixed;
	bottom:0;
	text-align:center;
	width:100%;
	font-size: 14px;
}