@CHARSET "UTF-8";
.nav_title {
text-align: center;
color:black;
font-weight: bold;
}

.nav_contents {
text-align: left;
}

.nav_contents .nav_first{
font-size: 20;
font-weight: bold;
color:fuchsia;
}

.nav_contents .nav_first .nav_second{
font-size: 15;
font-weight: normal;
color:yellow;
padding-left:10;
}
