@CHARSET "UTF-8";
html {
	
}
body {
font-family: Georgia, "Times New Roman",
      Times, serif;
font-size:1px;
color: silver;
background-color: #7799bb; 
padding:0;
margin:0;
}
p {
	
}
h1 {
	
}
h2 {
text-align: center;
font-size:30em;
color:threedface;
}

div{
	
}

.bg1{
	background-color: #99aa88;
}
.bg2{
	background-color: #aabb88;
}

.fg1{
	color:#dddddd;
}

.fg2{
    color:#663399;
}

.fg3{
	  color:#eeeeee;
}

.fg4{
	  color:oblique;
}

.fg5{
	color:#aeacbb;
}

.fg6{
	color:#000000;
}